/*
[0 - 640px] is where our normal styles apply
640 - 1024px:  Medium portrait
1024 - 1200px: Medium landscape
1200 - 1366px:  Large screen sizes
1366px+: Big desktop

$breakpoint argument choices:
- med-port
- med-land
- large
- big-desktop
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* Makes it so 1rem == 10px, 1.5rem == 15px, etc. */ }

body {
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 0; }

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #363f49; }

.main-content {
  text-align: left; }
  .main-content .heading-primary {
    color: #00a7df;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 2.8rem; }
  .main-content .heading-secondary {
    padding-left: 1.4rem;
    margin-top: -0.5rem;
    font-style: italic;
    font-weight: 600;
    font-size: 1.8rem; }
  .main-content p {
    margin: 1.4rem 0; }

.main-content {
  padding: 0 3.5rem; }
  @media (min-width: 64em) {
    .main-content {
      border-bottom: 0.1rem solid #e4e2e2;
      border-left: 0.1rem solid #e4e2e2;
      border-right: 0.1rem solid #e4e2e2;
      box-shadow: inset 0 -8px 0 #f3f3f3;
      margin-right: 2rem; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 6rem * 2) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (6rem * 3)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (6rem * 3)) / 4) + (2 * 6rem)); }

header {
  height: 6rem;
  border-bottom: 0.1rem solid #bec2c5; }
  header .logo {
    width: 22.1rem;
    padding: 2rem;
    padding-left: 2rem; }
    header .logo img {
      max-width: 100%; }
  header .mobile-menu .mobile-nav {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: -100%; }
  @media (min-width: 40em) {
    header .mobile-menu {
      display: none; } }

.subnav {
  padding: 5rem 0; }
  .subnav-title {
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    display: inline-block;
    background-color: #e4e2e2;
    width: 29rem;
    padding: 1.5rem;
    border-radius: 1rem;
    position: relative; }
    .subnav-title:after {
      content: "";
      width: 1rem;
      height: 1rem;
      position: absolute;
      right: 3.7rem;
      bottom: -0.5rem;
      border-top: 1rem solid #e4e2e2;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent; }
  .subnav-list {
    list-style: none;
    display: table;
    width: 29rem;
    margin: 10px auto 20px auto;
    text-align: left;
    padding-left: 1.5rem; }
    .subnav-list li {
      position: relative; }
      .subnav-list li:before {
        content: "\2022";
        color: #00a7df;
        font-weight: 700;
        font-size: 2rem;
        padding-right: 0.7rem; }
      .subnav-list li a {
        text-decoration: none;
        color: #363f49;
        position: absolute;
        top: 0.4rem; }
  @media (min-width: 64em) {
    .subnav {
      padding: 0 3.5rem 0 2.5rem; } }

.section-main {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding: 5rem 0; }
  @media (min-width: 64em) {
    .section-main {
      flex-direction: row; } }
