// COLORS
$primary-color: #00a7df;
$secondary-color: #e4e2e2;
$background-color: #ffffff;

//FONT
$default-font-size: 1.6rem;
$default-text-color: #363f49;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
