header {
  height: 6rem;
  border-bottom: 0.1rem solid #bec2c5;

  .logo-container {
    float: left;
    height: 6rem;
    padding: 0.5rem 1.7rem;

    .logo {
      width: 18.5rem;
      display: block;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  @include respond(med-land) {
    height: 10rem;

    .logo-container {
      height: 10rem;
      padding: 2rem 3.5rem;

      .logo {
        width: 22.1rem;
      }
    }
  }

  .top-nav {
    display: none;

    @include respond(med-land) {
      float: right;
      display: block;

      .menu {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-right: 3rem;
        align-items: center;
        height: 10rem;

        li {
          padding: 0 3rem;

          .nav-link {
            text-decoration: none;
            color: $default-text-color;
            font-weight: 600;
            text-transform: uppercase;
            transition: 0.5s ease;

            &:hover {
              color: $primary-color;
            }
          }

          &:last-child {
            padding: 0 4rem 0 7rem;
            .nav-link {
              color: $background-color;
              position: relative;

              &:hover {
                color: $default-text-color;
              }

              &:after {
                content: "";
                background-color: $primary-color;
                width: 100%;
                height: 10rem;
                position: absolute;
                left: -4rem;
                top: -4.1rem;
                z-index: -1;
                padding: 0 7rem;
                transform: skewx(-25deg);
              }
            }
          }
        }
      }
    }
  }

  .mobile-menu {
    .mobile-nav {
      background-color: $background-color;
      width: 100vw;
      height: 100vh;
      position: fixed;
      z-index: 999;
      top: -100%;
    }

    @include respond(med-port) {
      display: none;
    }
  }
}
