.subnav {
  padding: 5rem 0;

  &-title {
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    display: inline-block;
    background-color: $secondary-color;
    width: 29rem;
    padding: 1.5rem;
    border-radius: 1rem;
    position: relative;

    &:after {
      content: "";
      width: 1rem;
      height: 1rem;
      position: absolute;
      right: 3.7rem;
      bottom: -0.5rem;
      border-top: 1rem solid $secondary-color;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
    }
  }

  &-list {
    list-style: none;
    display: table;
    width: 29rem;
    margin: 10px auto 20px auto;
    text-align: left;
    padding-left: 1.5rem;

    li {
      // background-color: red;
      position: relative;

      &:before {
        content: "\2022";
        color: $primary-color;
        font-weight: 700;
        font-size: 2rem;
        padding-right: 0.7rem;
      }

      a {
        text-decoration: none;
        color: $default-text-color;
        position: absolute;
        top: 0.4rem;
      }
    }
  }

  @include respond(med-land) {
    padding: 0 3.5rem 0 2.5rem;
  }
}
