.mobile-toggle-container {
  background-color: $background-color;
  display: block;
  height: 4.5rem;
  width: 4.5rem;
  position: fixed;
  top: 0.6rem;
  right: 1rem;
  z-index: 1001;

  &:hover {
    cursor: pointer;
  }

  @include respond(med-land) {
    display: none;
  }

  .mobile-toggle {
    height: 4.5rem;
    width: 4.5rem;
    display: inline-block;
    position: relative;
    pointer-events: none;

    span {
      position: absolute;
      width: 2.5rem;
      height: 0.3rem;
      background-color: $default-text-color;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.4s ease-in-out;

      &:before {
        content: "";
        top: -0.9rem;
        width: inherit;
        height: 0.3rem;
        position: absolute;
        background-color: $default-text-color;
        left: 0;
        transition: inherit;
      }

      &:after {
        content: "";
        top: 0.9rem;
        left: 0;
        width: inherit;
        height: 0.3rem;
        position: absolute;
        background-color: $default-text-color;
        transition: inherit;
      }
    }
  }
  .active {
    span {
      background-color: transparent;
      transition: all 0.4s ease-in-out;

      &:before {
        top: 0;
        transform: rotate(-45deg);
        transition: inherit;
      }

      &:after {
        top: 0;
        transform: rotate(45deg);
        transition: inherit;
      }
    }
  }
}
