*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* Makes it so 1rem == 10px, 1.5rem == 15px, etc. */
}

body {
  box-sizing: border-box;
  background-color: $background-color;
  margin: 0;
}
