body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  color: $default-text-color;
}

.main-content {
  text-align: left;

  .heading-primary {
    color: $primary-color;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 2.8rem;
  }

  .heading-secondary {
    padding-left: 1.4rem;
    margin-top: -0.5rem;
    font-style: italic;
    font-weight: 600;
    font-size: 1.8rem;
  }

  p {
    margin: 1.4rem 0;
  }
}
